.DS_Store

TODO
obj
3rdparty/libevent-*
dist

CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
Makefile

*.xcodeproj
Debug

a.out*
then.xcodeproj
test[^s]
.depend

*.build
build

*.o
*.so
*.dylib
