.DS_Store

TODO
obj
3rdparty/libevent-*
3rdparty/libuv-*
3rdparty/curl-*
dist

CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
Makefile

*.xcodeproj
Debug

a.out*
then.xcodeproj
test[^s]
.depend

*.build

*.o
*.so
*.dylib
